#section-movement, #section-movement .item-icon {
  background-color: maroon;
  border-color: maroon;
}
#section-movement .text {
  color: maroon;
}

#section-action, #section-action .item-icon {
  background-color: black;
  border-color: black;
}
#section-action .text {
  color: black;
}

#section-bonus-action, #section-bonus-action .item-icon {
  background-color: indigo;
  border-color: indigo;
}
#section-bonus-action .text {
  color: indigo;
}

#section-reaction, #section-reaction .item-icon {
  background-color: DarkOliveGreen ;
  border-color: DarkOliveGreen ;
}
#section-reaction .text {
  color: DarkOliveGreen ;
}

#section-condition, #section-condition .item-icon {
  background-color: FireBrick;
  border-color: FireBrick;
}
#section-condition .text {
  color: FireBrick;
}

#section-environment, #section-environment .item-icon {
  background-color: ForestGreen;
  border-color: ForestGreen;
}
#section-environment .text {
  color: ForestGreen;
}

.modal{
  border-color: aqua;
}