.item {
  margin-bottom: 8px;
  float: left;
  display: flex;
  font-size: inherit;
  vertical-align: top;
  box-sizing: border-box;
  cursor: pointer;
}

.item-icon {
  float: left;
  flex: 0 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  border-radius: 4px;
  display: inline-block;
  margin-right: 4px;
}

.item-title {
  font-weight: bold;
  font-size: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-desc {
  font-style: italic;
  font-size: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-text-container {
  flex: 1;
  padding-right: 4px;
  font-size: inherit;
  height: 100%;
}